/* ----- Buttons ----- */
.btn {
  padding: 1rem 1.2rem;
  border: none;
  font-family: $bold-font;
  font-size: 1.6rem;
  background-color: $black;
  color: $white;

  &:hover {
    @include hover-opacity;
    cursor: pointer;
  }
}

.button--round {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 3rem;

  > span {
    font-size: 1.2rem;
  }
}

.button--square {
  padding: 1.8rem 2rem;
  border-radius: 1.4rem;
}

.button--form {
  background-color: $dot-color;
  border-radius: 0.8rem;
  width: 18rem;
}
