/* ----- Map Card ----- */
.aside {
  overflow: hidden;
  width: 40%;
  border-radius: 1.6rem;

  // responsive BreakingPoint 1024px
  @media (max-width: 1024px) {
    display: flex;
    width: 100%;
  }
  // responsive BreakingPoint 768px
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__content {
    padding: 3.2rem;
    background-color: $primary-color;
    > p {
      margin-bottom: 24px;
    }
    // responsive BreakingPoint 1024px
    @media (max-width: 1024px) {
      width: 50%;
    }
    // responsive BreakingPoint 768px
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .container__image {
    // responsive BreakingPoint 1024px
    @media (max-width: 1024px) {
      width: 50%;
    }
    // responsive BreakingPoint 768px
    @media (max-width: 768px) {
      width: 100%;
      height: 20rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    // responsive BreakingPoint 1024px
    @media (max-width: 1024px) {
      height: 100%;
    }
  }
}
