/* ----- Subnav ----- */
.subnav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;

  // responsive BreakPoint 1184px
  @media (max-width: 1184px) {
    flex-wrap: wrap;
  }
  // responsive BreakPoint 768px
  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: calc((100% - 5rem) / 6);
    height: 6.4rem;
    padding: 1.2rem 1.6rem;
    border: $black 0.1rem solid;
    border-radius: 1rem;
    font-family: $bold-font;
    font-size: 1.6rem;
    color: $black;

    // responsive BreakPoint 1184px
    @media (max-width: 1184px) {
      width: calc((100% - 3rem) / 4);
    }
    // responsive BreakPoint 768px
    @media (max-width: 768px) {
      flex-shrink: 0;
      font-size: 1.4rem;
    }
    // responsive BreakPoint 568px
    @media (max-width: 568px) {
      height: 5.4rem;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }

    &--responsive {
      display: none;

      // responsive BreakPoint 1184px
      @media (max-width: 1184px) {
        display: inherit;
      }
    }
  }
}
