/* ----- Common rules ----- */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1135px;
  margin: 0 auto;

  // responsive BreakingPoint 1184px
  @media (max-width: 1184px) {
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
}
