/* ----- Footer ----- */
footer {
  background-color: $tertiary-color;

  > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5rem 0;

    // responsive BreakPoint 568px
    @media (max-width: 568px) {
      padding: 3rem 0;
    }
  }
  .footer__image {
    width: 3rem;
  }
  .footer__link {
    font-family: Ts-Med;
    font-weight: bold;
    color: $black;
  }
}
