/* ----- Header ----- */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: $white;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    // responsive BreakPoint 1184px
    @media (max-width: 1184px) {
      padding: 1rem 2rem;
    }

    > i {
      font-size: 1.8rem;
      // responsive BreakPoint 769px
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
  .header__logo {
    width: 18.5rem;

    // responsive BreakPoint 768px
    @media (max-width: 768px) {
      width: 13.2rem;
    }
  }
}
.header__border {
  border-bottom: $button-hover-color 2px solid;
}

/* ----- Header Navbar ----- */
.navbar {
  > ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    // responsive BreakPoint 1024px
    @media (max-width: 1024px) {
      gap: 0;
    }
  }

  li:not(:last-child) {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 1rem 1.2rem;
    font-family: $bold-font;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $black;

    &:hover {
      border-radius: 3rem;
      @include hover-background;
    }

    // responsive BreakPoint 1024px
    @media (max-width: 1024px) {
      > span {
        display: none;
      }
    }
  }
}
