/* ----- Home Page ----- */

// Section 1 : #presentation
#presentation {
  margin-bottom: 40px;
}

h1 > span {
  color: $primary-color;
}

.infos__content {
  margin-bottom: 35px;
  color: $subtitles-color;
  a {
    color: $subtitles-color;
    text-decoration: underline;
  }
}

.images {
  display: flex;
  gap: 4px;

  margin-bottom: 25px;
  height: 43rem;

  // responsive BreakPoint 1184px
  @media (max-width: 1184px) {
    height: 37rem;
  }
  // responsive BreakPoint 1024px
  @media (max-width: 1024px) {
    height: 27.5rem;
  }

  &__unique {
    position: relative;
    width: 60%;
    // responsive BreakPoint 1024px
    @media (max-width: 1024px) {
      width: 77%;
    }
    // responsive BreakPoint 768px
    @media (max-width: 768px) {
      width: 100%;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        @include hover-opacity;
        cursor: pointer;
      }
    }

    .btn {
      position: absolute;
      left: 1.6rem;
      bottom: 1.6rem;
    }
  }

  &__doble {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 4px;

    // responsive BreakPoint 1024px
    @media (max-width: 1024px) {
      width: 33%;
    }
    // responsive BreakPoint 768px
    @media (max-width: 768px) {
      display: none;
    }

    > img {
      // width: 48rem;
      height: calc(50% - 0.2rem);
      object-fit: cover;
      &:hover {
        @include hover-opacity;
        cursor: pointer;
      }
    }
  }
}

// Section 2 : #organisation
#organisation {
  display: flex;
  gap: 10%;
  margin-bottom: 80px;

  // responsive BreakPoint 1024px
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 5rem;
  }
}

.description {
  width: 50%;
  &__content {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $subtitles-color;
    // responsive BreakPoint 768px
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  // responsive BreakPoint 1024px
  @media (max-width: 1024px) {
    width: 100%;
  }
}

// Section 3 : #immanquable => Se divertir / Se restaurer
#immanquables,
#guides {
  margin-bottom: 120px;
}

.carousel-container {
  display: flex;
  margin-bottom: 40px;

  // responsive BreakPoint 768px
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.documentation {
  flex: 1;
  padding-right: 3rem;

  // responsive BreakPoint 768px
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  &__content {
    margin: 20px 0;

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  &__link {
    font-size: 1.6rem;
    color: $subtitles-color;
    text-decoration: underline;
  }
}
